body {
  margin: 0;
  color: gray;
  font-weight: 300;
}

button, input {
  border-radius: 0px;
  box-shadow: none;
  cursor: pointer;
  font-family: "Roboto";
  color: #262626;
  border: 1px solid gray;
  background-color: white;
  transition: .2s;
}

button:hover {
  background-color:
}

#fileupload {
  width: 400px;
  height: 100px;
}

#fileupload2 {
display: none;
}

.partition, .section {
  white-space: pre-wrap;
}

#blink {
  animation: 1s blink step-end infinite;
  font-weight: 100;
  font-size: 30px;
  color: #2E3D48;
  width: 2px;
}

@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

#title {
  width: 100%;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #262626;
    margin-top: 8px;
  border-bottom: 3px solid gray;
  box-shadow: 0 3px 2px -2px gray;
  transition: .2s;
  height: 50px;
}

#icon-controls {
  width: 100%;
  text-align: center;
  height: 50px;
  margin-top: 10px;
}

#column-controls {
  width: 100%;
  text-align: center;
  height: 40px;
  margin-top: 10px;
  display: none;
}

#icon-controls i {
  margin-right: 20px;
  transition: .3s;
  color: gray;
}

#icon-controls i:hover {
  color: black !important ;
  cursor: pointer;
}

#intro {
  width: 100%;
  text-align: center;
  font-size: 25px;
}

#name {
  float: left;
  margin-left: 30px;
  font-size: 30px;
  cursor: pointer;
  font-weight: 300;

}

#subtitle {
  float: left;
  font-size: 20x;
  margin-left: 17px;
  margin-top: 10px;
  color: red;
  font-weight: 300;
}

#name a {
  text-decoration: none;
  color: gray;
  transition: .08s;
}

.section {
  margin-bottom: 10px;
}

.partition {
  margin-bottom: 25px;
}

#name a:hover {
  text-decoration: none;
  color: gray;
}

.tip-color-container {
  float: left;
  cursor: pointer;
}


button {
  width: 100px;
  height: 30px;
  margin-right: 50px;
}

input {
  padding-bottom: 2px;
  padding-left: 1px;
}

input[type="color"] {
  width: 20px!important;
  height: 20px!important;
  padding: 6px!important;
}

@keyframes moveToCorner {
  50% {opacity: 0}
  100% {left: 70px; top: 40px; opacity: 0}
}

#text_container_left {
  width: 3%;
  margin-left: 10%;
  margin-top: 40px;
  background-color: gray;
  opacity: 0;
  float: left;
  transition: .2s;
}

#left_svg {
  width: 100%;
  height: 400px;
}

#tracking_rect {
  z-index: 20;
  background:rgba(255,0,0,0.1);
  border: 1px solid yellow;
  display: none;
}

#text_container {
  width: 55%;
  margin-top: 20px;
  padding: 20px;
  transition: 1s;
  font-family: "Roboto";
  font-size: 1.6vw;
  white-space: pre-wrap;
    float: left;
}

#text_container_right {
  width: 3%;
  margin-top: 40px;
  float: left;
  opacity: .2;
}

.text-h1 {
  color: black;
}

#left_column {
  margin-left: .5%;
  width: 8%;
  height: 500px;
  float: left;
  position: fixed;
  font-family: "Roboto";
  margin-bottom: 5px;
  display: none;
}

#right_column {
  width: 17%;
  margin-left: 2%;
  float: left;
  height: 500px;
  display: none;
}

#tableOfContents {
  width: 60%;
  height: 500px;
  background: rgb(245, 245, 245);
  display: none;
  margin: 0 auto;
  text-align: center;
  font-family: "Roboto";
  font-weight: 300;
}

#table {
  text-align: left;
}

#table h1, h2, h3, h4 {
  cursor: pointer;
  font-weight: 300;
}


#structure {
  float: left;
    width: 40%;
}

#tone {
    float: right;
    width: 50%;

}

.tone-input, .topic-input {
  height: 30px;
  overflow-x: visible;
  white-space: nowrap;
}


#settings {
  width: 100%;
  margin: 0 auto;
  font-family: "Roboto";
  text-align: center;
}

#settings input {
  padding: 8px;
  margin-bottom: 4px;
  margin-right: 10px;
  border: 1px solid gray;
}

#ignore input {
  margin-top: 15px;
  border: 1px dotted lightgray;
}

#settings_container {
  text-align: left;
}

.annotation {
  position: absolute;
  border: 1px solid lightgray;
  padding: 4px;
  border-radius: 2px;
}

.annotation button {
  width: 50px;
  height: 20px;
  padding: 0px;
  margin: 0px;
}

.topic-input, .tone-input {
  display: none;
}

.description {
  opacity: .5;
  font-size: 14px;
}

.instructions {
  transition: 2s;
}

#highlight_tip, #topic_tip {
  position: absolute;
  background-color: #f2f2f2;
  font-family: "Roboto";
  padding: 2px;
  border-radius: 2px;
  border: 1px solid gray;
  color: black;
  display: none;
}

.tip-color-container:hover, .tip-topic-container:hover {
  cursor: pointer;
  background-color: lightblue;
  color: white;
}

#compare {
  width: 90%;
  margin: 0 auto;
  display: none;
}

.compare-part {
  text-align: center;
  float: left;
}

#instructions1 {
  text-align: center;
  margin-top: 30px;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 30px;
}

#submit {
  color: gray;
  font-family: "Roboto";
  font-weight: 300;
  margin-left: 40px;
}

#instructions2 {
  display: none;
}

#instructions2-5 {
  display: none;
}

#instructions3 {
  display: none;
}

#instructions3 p {
  margin: 3px;
}

#annulus-display {
  display: none;
}

.highlightSpan {
  cursor: pointer;
}

.highlightSpan::selection {
  color: white;
  background-color: black;
}

#svg_control_container {
  position: fixed;
  top: 470px;
  left: 1000px;
  height: 1000px;
  float: right;
}

#circle_hover {
  border-bottom: 1px solid gray;
  width: 500px;
}

.svgcircle {
  pointer-events: all;
  cursor: pointer;
}

.svgcircle:hover {
  opacity: 1;
  background-color: gray;
  transition: .2s;
}

#save_name {
  cursor: text;
}

#saveform {
  opacity: 0;
  transition: .2s;
}

#grid_svg {
  overflow: visible;
}

#annulusName {
  font-family: "Roboto";
  font-size: 16px;
  border-bottom: 1px solid gray;
}
