button, input {
  border-radius: 0px;
  box-shadow: none;
  cursor: pointer;
  font-family: "News Cycle";
  color: #262626;
  border: 1px solid #5cd65c;
  background-color: white;
  transition: .2s;
}

button:hover {
  background-color:
}

#title {
  width: 100%;
  text-align: center;
  font-family: "News Cycle", sans-serif;
  color: #262626;
  border-bottom: 3px solid #5cd65c;
  transition: .2s;
  font-weight: bold;
  height: 50px;
}

#name {
  float: left;
  margin-left: 30px;
  font-size: 30px;
  cursor:pointer;
  margin-top: 0px;
}

#name a {
  text-decoration: none;
  color: #262626;
  transition: .08s;
}

.section {
  margin-bottom: 10px;
}

.partition {
  margin-bottom: 25px;
}

#name a:hover {
  text-decoration: none;
  color: #5cd65c;
}

#subtitle {
  float: right;
  margin-right: 10px;
  font-size: 25px;
  margin-top: 8px;
  color: #999999;
}

button {
  width: 100px;
  height: 30px;
  margin-right: 50px;
}

input {
  padding-bottom: 2px;
  padding-left: 1px;
}

@keyframes moveToCorner {
  50% {opacity: 0}
  100% {left: 70px; top: 40px; opacity: 0}
}

#text_container_before {
  float: left;
  margin-left: 20px;
  margin-top: 20px;
  padding: 20px;
  transition: 1s;
  opacity: 0;
  font-family: "Roboto";
}

#text_container {
  width: 650px;
  float: left;
  margin-left: 20px;
  margin-top: 20px;
  padding: 20px;
  transition: 1s;
  opacity: 0;
  font-family: "Roboto";
}

 #control_container {
  position: fixed;
  width: 500px;
  margin-left: 830px;
  margin-right: 50px;
  padding: 10px;
  font-family: "News Cycle";
  font-size: 24px;
  border-left: 1px solid #5cd65c;
  overflow:auto;
}


#text_container::selection {
  background-color: black;
  color: white;
}

#control_container_before {
  width: 600px;
  padding-top: 20px;
  margin: auto;
  font-family: "News Cycle";
  font-size: 26px;
  text-align: center;
}

#tableOfContents {
  width: 100px;
  height: 500px;
  float: left;
  border-right: 1px solid #5cd65c;
  font-family: "News Cycle";
  margin-bottom: 5px;
}

<<<<<<< HEAD
#tableOfContents h1:hover, h2:hover, h4:hover {
  cursor: pointer;
}

=======
>>>>>>> origin/master
.instructions {
  transition: 2s;
}

#instructions1 {
  text-align: center;
  opacity: 1;
}

#instructions2 {
  display: none;
}

#instructions2-5 {
  display: none;
}

#instructions3 {
  display: none;
}

#instructions3 p {
  margin: 3px;
}

#annulus-display {
  display: none;
}

.highlightSpan {
  cursor: pointer;
}

.highlightSpan::selection {
  color: white;
  background-color: black;
}

#svg_control_container {
  position: fixed;
  top: 470px;
  left: 1000px;
  height: 1000px;
  float: right;
}

#circle_hover {
  border-bottom: 1px solid #5cd65c;
  width: 500px;
}

.svgcircle {
  pointer-events: all;
  cursor: pointer;
}

.svgcircle:hover {
  opacity: 1;
  background-color: #5cd65c;
  transition: .2s;
}

#save_name {
  cursor: text;
}

#saveform {
  opacity: 0;
  transition: .2s;
}

#grid_svg {
  overflow: visible;
}

#annulusName {
  font-family: "News Cycle";
  font-size: 16px;
  border-bottom: 1px solid #5cd65c;
}
